<body id="home">
<div class="container-fluid">
  <h1 id="merry-christmas">merry christmas<span class="small"> and a happy new year</span></h1 id="merry-christmas">

  <div class="row">
    <div class="col-md-7">
      <div id="home-photo">
        <%= image_tag "family.jpg" %>
      </div>
      <div class="col-sm-12" id="words">
        <div class="col-sm-9" >
          <p>happy holidays, friends!  we're so glad that you're a part of our lives and are glad you stopped by to see what's been going on in ours.</p>
          <p>
            2015 has been a whirlwind of a year for us.  we still love living in Colorado and spent as much time as we could enjoying the gorgeous weather.  we made good use of our membership to the Denver Botanic Gardens and spent a lot of time hiking, swimming, and attending outdoor concerts.
          </p>
          <p>
            Chris finished an intensive program at the Turing School of Software and Design in May and in August we moved to a new home in Louisville, CO.
          </p>
        </div>
        <div class="col-sm-3" id="calendar-button">
          <%= link_to by_the_month_path do %>
            <h2>2015</h2>
            in review <i class="fa fa-arrow-right"></i>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div id="snow-globe">
        <%= image_tag "1208_jefferson.jpg", :id => "house" %>
        <%= image_tag "https://media.giphy.com/media/4M6xlFxZskH8A/giphy.gif", :id => "snow" %>
        <div id="address">
          <h3>We've moved!</h3>
          <p>1208 Jefferson Ave. <br> Louisville, CO 80027</p>
        </div>
      </div>
      <div class="game">
      </div>
    </div>
  </div>

  <div id="year-in-review">
    <div id="ribbon" class="row">
      <%= image_tag "tada.png", :class => "tada" %>
      <p>2015 in review</p>
      <%= image_tag "tada.png", :class => "tada" %>
    </div>
    <div class="row">
      <% ApplicationHelper::MONTHS.each do |month| %>
        <%= link_to "#" + "#{month[:name]}", 'data-toggle' => 'modal' do %>
          <div class="month ">
            <%= image_tag "#{month[:image]}", :alt_text => "#{month[:caption]}" %>
            <p class="hover-text">
              <%= "#{month[:name]}" %>
            </p>
          </div>
        <% end %>
        <%= render :partial => "month", :locals => {
                                        :month => "#{month[:name]}",
                                        :description => "#{month[:description]}",
                                        :image_2 => "#{month[:image_2]}"
                                       } %>
      <% end %>
    </div>
  </div>
</div>
</body>

<script type="text/javascript">
  getThoseFlakes();
</script>
